@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-bold;
  }
  h2 {
    @apply text-3xl font-satoBold;
  }
  h3 {
    @apply text-2xl sm:text-3xl md:text-4xl font-medium;
  }
  h4 {
    @apply text-xl font-satoBold;
  }

  th {
    @apply font-normal;
  }

  label {
    @apply text-[#344054] font-satoMd;
  }

  /* input {
    @apply placeholder:text-black/90 focus:outline-none focus:border-primary !h-[56px] border border-gray-400;
  } */

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer utilities {
  .myFlex {
    @apply flex items-center;
  }

  .pageContainer {
    @apply bg-primary-50 min-h-dvh ml-[70px] lg:ml-[230px] mt-[48px] px-7 py-3;
  }

  .btn {
    @apply inline-flex gap-2 items-center bg-primary-200 text-white font-satoMd h-[36px] px-3 rounded-[4px];
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
